// ==================================================
// Icons
// ==================================================
.icon {
	background-repeat: no-repeat;
	background-position: center center;
}

	.icon--24 {
		@include size(24px);
		float: left;
	}

	.icon--48 {
		@include size(48px);
		float: left;
	}

	// 24px icons 

	.icon--dashboard {
		background-image: url(/cezar/assets/icons/24px/dashboard.svg);
	}

	.icon--user {
		background-image: url(/cezar/assets/icons/24px/user.svg);
	}
	
	.icon--search {
		background-image: url(/cezar/assets/icons/24px/search.svg);
	}

	.icon--checked {
		background-image: url(/cezar/assets/icons/24px/checked.svg);
	}

	.icon--checked-black {
		background-image: url(/cezar/assets/icons/24px/checked-black.svg);
	}

	.icon--plus {
		background-image: url(/cezar/assets/icons/24px/plus.svg);
	}

	.icon--plus-lg {
		background-image: url(/cezar/assets/icons/24px/plus--lg.svg);	
	}

	.icon--close {
		background-image: url(/cezar/assets/icons/24px/close.svg);
	}

	.icon--close-black {
		background-image: url(/cezar/assets/icons/24px/close-black.svg);
	}

// 48px icons

.icon48--close-black {
	background-image: url(/cezar/assets/icons/48px/close-black.svg);
}

.icon48--checked-black {
	background-image: url(/cezar/assets/icons/48px/checked-black.svg);
}

.icon48--edit-black {
	background-image: url(/cezar/assets/icons/48px/edit-black.svg);
}

// additional classes
.unchecked {
	opacity: 0.2;
}








