// ==================================================
// Event
// ==================================================
.event {
	@extend .flex;
	@extend .clearfix;

	&__info {
		flex: 1;
		padding: $base-spacing;
	}

	&__description {
		display: flex;
		flex-wrap: wrap;

		.input-container {
			flex: 1;

			&:not(:first-child) { // Make the 3 col without margin first el
				margin-left: 24px;
			}
		}
	}

	&__settings {
		label {
			margin-right: 24px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.event__cover {
	flex: 0 0 30%;
	position: relative;
	background-color: $gray-200;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.remove-cover,
.upload-cover {
	position: absolute;
	text-align: center;
	background-color: $black;
	cursor: pointer;
	transition: background-color 0.1s ease-out;

	&:hover {
		background-color: $pink;
	}
}

.remove-cover {
	top: 0;
	right: 0;
	padding: 0 4px 6px 4px;
	width: 32px;
	font-size: em(28px);
	color: $white;
}

.upload-cover {
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 12px 0 12px 0;

	span {
		color: $white;
	}
}

.symbol-counter {
	float: right;
	font-size: $fz-xs;
	color: $light-gray;
}

// Sections
.sections {
		margin-top: $base-spacing;
		padding: 24px;
}
