<div class="actions-menu">
	<div class="action action--main">
		{{#link-to 'events.new' class="action__link"}}
			<button class="action__button action__button--main">
				<div class="action__icon action__icon--main main-action__icon--add"></div>
			</button>
		{{/link-to}}
		<label class="action__label action__label--main">Создать концерт</label>
	</div>
</div>