<section class="event-settings">
	<div class="event-settings__actions">
		<button class="btn btn--gray" {{action 'cancel'}}>Отмена</button>
		<input class="btn btn--blue" type="submit" form="event" value="Cохранить">
	</div>
</section>