<div class="nav-bar">
	<nav class="nav-bar__nav">
		{{link-to '' 'index' class="nav-bar__link icon icon--dashboard"}}
		{{link-to 'Концерты' 'events' class="nav-bar__link"}}
	</nav>
	<div class="nav-bar__user-menu">
		<a href="#" class="nav-bar__link icon icon--user">Выйти</a>
	</div>
</div>
