<div class="nav-bar">
	<nav class="nav-bar__nav">
		{{link-to '' 'index' class="nav-bar__link icon icon--dashboard"}}
		{{link-to 'Концерты' 'events' class="nav-bar__link"}}
	</nav>
	<div class="nav-bar__user-menu">
		{{#if session.isAuthenticated}}
			<a href="#" class="nav-bar__link icon icon--user" {{action 'invalidateSession'}}>Выйти</a>
			{{else}}
			{{#link-to 'login'}}Войти{{/link-to}}	
		{{/if}}
	</div>
</div>
