<div class="paper">
	<h3>Регистрация</h3>
	{{input value=userName placeholder="имя" type="text"}}
	{{input value=userEmail placeholder="эл.почта" type="email"}}
	{{input value=userPassword placeholder="пароль" type="password"}}
	<button {{action 'createUser'}}>Зарегатся</button>
</div>
